.home-hero {
  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__banner-overlay {
    z-index: 1;
  }
  .page-hero__banner-contents {
    z-index: 2;
  }
  .carousel-overlay {
    opacity: .3;
  }
  &__banner-overlay {
    &.light {
      background: linear-gradient(180deg,transparent,rgba(4,1,4,.2));
    }
  }
  .large-image {
    @include media-max(767) {
      display: none;
    }
  }
  .middle-image {
    display: none;
    @include media-max(767) {
      display: block;
    }
    @include media-max(375) {
      display: none;
    }
  }
  .small-image {
    display: none;
    @include media-max(375) {
      display: block;
    }
  }
}