.icon-social {
  width: 20px;
  height: 20px;
  &::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
  }
  &__instagram {
    &::before {
      mask: url("../images/dist/socials/instagram.svg");
    }
  }
  &__facebook {
    &::before {
      mask: url("../images/dist/socials/facebook.svg");
    }
  }
  &__twitter {
    &::before {
      mask: url("../images/dist/socials/twitter.svg");
    }
  }
  &__youtube {
    &::before {
      mask: url("../images/dist/socials/youtube.svg");
    }
  }
}