.parallax-container {
  &.wide {
    min-height: 50vh;
  }
  &.narrow {
    min-height: 25vh;
  }
  &.fullscreen {
    min-height: 130vh;
  }
}

.parallax-mirror {
  overflow: hidden;
  position: fixed;
}